<!-- primary header -->
<header class='primary-header flex'>
  <div class='logo'>
    <a href='/'><i class='fa-solid fa-comment-dots'></i></a>
  </div>
  <!-- nav -->
  <button
    class='mobile-nav-toggle'
    aria-controls='primary-navigation'
    aria-expanded='false'
  >
    <span class='sr-only'>Menu</span>
    <i id='toggle-icon' class='fas fa-bars'></i>
  </button>
  <nav>
    <ul
      id='primary-navigation'
      data-visible='false'
      class='primary-navigation underline-indicators flex nav-link'
    >
      <li><a href='/'>All Resources</a></li>
      <li><a href='/free'>Free Resources</a></li>
    </ul>
  </nav>
</header>
<h1>Te Reo MÄori Learning Resources</h1>