<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <!-- Font Awesome Icons-->
    <script
      src="https://kit.fontawesome.com/757a7d392f.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <!-- Custom CSS and JS -->
    <link rel='stylesheet' href='/main.css' />
    <script src="/scripts/nav.js"></script>
    <title>Te Reo MÄori Learning Resources</title>
  </head>
  <body>
    {{>header}}
    <main class="container">
      {{{body}}}
    </main>
    {{>footer}}
  </body>
</html>